#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  padding: 10px;
  width: 400px;
  height: 50vh;
  border: 1px solid black;
  text-align: center;
  overflow: auto;
}

.App h1 { 
  text-align: center;
}

.App form {
  margin: 10px auto;
  width: 100%;
}

.App form input {
  width: 200px;
  height: 20px;
}

.App form button {
  height: 26px;
}

.App nav button {
  margin: 0 5px;
}
 
.App nav button.active {
  text-decoration: underline;
}

.App ul {
  text-align: left;
  margin: 20px 40px;
}

.App li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.App li.done {
  text-decoration: line-through;
}

.App li .date {
  text-decoration: italic;
  color: gray;
}

.App li input {
  margin-right: 10px;
}